html
head
title Registrants

link(rel="stylesheet" href="/css/registrants.css")

body
  h1 Registrants

  h3 Choose a sport
  select(id="sport-select")
    each sport in sports
      option(data-sport=sport)= sport

  table
    thead
      th Name
      th Email
      th Sport
    tbody
      each registrant in registrants
        tr
          td= registrant.name
          td(class="email")= registrant.email
          td= registrant.sport

  script(src="/js/registrants.js")

  a(href="/" class="button") Home
