html
head
title Registrants

link(rel="stylesheet" href="/css/registrants.css")

body
  h1 Registrants

  div(class="search")

    span Enter a name to search
    div(class="name-box")
      input(type="text" name="name" placeholder="Name", autocomplete="off", id="search-box")
    input(type="button" value="Search" id="search-button")


    span Choose a sport to view only registrants for that sport
    div(class="choice-box")
      select(id="sport-select")
        each sport in sports
          option(data-sport=sport)= sport

  table
    thead
      th Name
      th Email
      th Sport
    tbody
      each registrant in registrants
        tr
          td= registrant.name
          td(class="email")= registrant.email
          td= registrant.sport

  script(src="/js/registrants.js")

  a(href="/" class="button") Home
