html
head
title Successfully Registered

link(rel="stylesheet" href="/css/registrants.css")

body
  h1 Success!

  p #{registrant.name} you successfully registered for #{registrant.sport}!

  a(href="/" class="button") Home
