body {
  font: 400 1.2rem sans-serif;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

form {
  display: grid;
  grid-template-columns: 200px minmax(100px, 250px);
  grid-row-gap: 0.5rem;
  row-gap: 0.5rem;
}

input[type="submit"] {
  grid-column: 2;
}
